#grid {
    display: grid;
    grid-template-columns: 200px 1fr;
}
#grid ol{
    padding-left: 30px;
    padding-top: 15px;
    margin:0;
}
#article{
    padding-left: 30px;
    padding-right: 20px;
    border-left: 1px solid gray;
}
#bottom h3 {
    font-size: 15px;
    text-align: center;
}
body {
    margin:0;
}
a {
    color: black;
    text-decoration: none;
}
h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;
}
@media(max-width:600px) {
    #grid{
        display: block;
    }
    #grid ol{
        padding-bottom: 10px;
    }
    #article{
        border-top: 1px solid gray;
        border-left: none;
    }
    h1 {
        font-size: 30px;
    }
}